.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

a {
  text-decoration: none;
}